.blog_home-posts_container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-start;
  padding:50px;
  
  
  .post_link{
    flex:1 0 auto;
    margin:15px 0px;
    
    .short_post{
      border:solid 1px $smoke;
      border-radius:5px;
      background-color:white;
      margin:0px 10px;
      max-width:400px;
      
      .post_header_image{
        height:200px;
        width: 400px;
        
        .linear_gradient_dark_studios{
          display:flex;
          align-items:flex-end;

          padding:15px;
          background-image: linear-gradient(transparent, $studios_black);
          width:100%;
          height:100%;
        }

        .author-image{
          width:70px;
          height:70px;
          margin:0px 10px 0px 0px;
          border-radius:50%;
          border:solid 2px white;

          background-position:center;
          background-size:cover;
        }

        .post_author{

          .author_name{
            color:$inventive;
            font-weight:bold;
          }
          .date{
            color:white;
          }
        }
      }
  
      .content{
        padding:20px;
        height:200px;
        text-align:left;
        
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        

        h1, h2, h3 {
          font-weight:bold;
        }

        a{
          color:$inventive;
        }
      }
    
    }
  }


}

.post_link{
  color:black;
}