.blog_home-posts_container{
  display:flex;
  justify-content:center;
  padding:50px;


  .short_post{
    background-color:white;
    
    margin:0px 10px;
    max-width:400px;
    flex:1;
    
  
    .post_header_image{
      height:300px;
      width: 400px;
    }

    .content{
      padding:20px;
    }
  
  }
}

.post_link{
  color:black;
}