.post-bubble{
    position:absolute;
    background-color:$smoke;
    padding:0px;
    border-radius:50%;


    // Sizes
    &.small {
        width:30px;
        height:30px;
    }
    
    &.med {
        width:45px;
        height:45px;
    }
    
    &.large {
        width:60px;
        height:60px;
    }
    
    &.x-large {
        width:80px;
        height:80px;
    }
}

.parallax-blade{

    svg{
        color:black;
        
    }

    .faux-bubble{
        z-index:999;
        background-color:#ffffffAA;
        position:absolute;

        &.size-one{
            height:50px;
            width:50px;
            border-radius:50%;
        }
        
        &.size-two{
            height:30px;
            width:30px;
            border-radius:50%;
        }
    }
}

.parallax-container{
    overflow:hidden;
}

.faux-bubble{
    z-index:900;
    background-color:#ffffffAA;
    position:relative;

    &.Big{
        height:200px;
        width:200px;
        border-radius:50%;
    }
    
    &.Medium{
        height:100px;
        width:100px;
        border-radius:50%;
    }
    
    &.Small{
        height:70px;
        width:70px;
        border-radius:50%;
    }
    
    &.XSmall{
        height:20px;
        width:20px;
        border-radius:50%;
    }
}