// layouts
@import "./layouts/footer";
@import "./layouts/navigation";
@import "./layouts/not-found";

// slices
@import "./slices/image-caption";
@import "./slices/quote";
@import "./slices/text";
@import "./slices/blade";
@import "./slices/staff-member";
@import "./slices/_cta-one.scss";
@import "./slices/carousel";
@import "./slices/card-view";
@import "./slices/plan";
@import "./slices/text-columns";
@import "./slices/sidebar";
@import "./slices/map";
@import "./slices/drop-in";
@import "./slices/list";
@import "./slices/count-up";
@import "./slices/media";
@import "./slices/big-words-one";
@import "./slices/big-words-two";

// general
@import "./general/blade-container";
@import "./slices/blog-posts.scss";

// custom
@import "./bubbles";

// dividers
@import "./dividers/diagonal-divider";
@import "./dividers/swoosh-divider";
@import "./dividers/wavy-divider";
@import "./dividers/round-divider";


.colored-layover{
    padding:50px;
    background-color: rgba( 0, 0, 0, 0.5);
    width:100vw;
    height:100%;

    &.flex {
      display:flex;
      flex-direction:column;
      justify-content:center;}
}