// Break points
$max-width-sm: 767px;
$min-width-sm: 768px;
$min-width-emph: 950px;

$phone-width:450px;
$tablet-width:1000px;
$desktop-width:1500px;


$cta_color: #404E9F;

$primary_grey: #f1f1f1;
$primary_white: white;

$smoke: #E0E6ED;
$dark_smoke: #D3DCE6;
$extra_dark_smoke: #C0CCDA;
$steel: #273444;
$black: #1E2D3D;
$slate: #3C4858;

$studios: #7E5BEF;
$studios_light: #A389F4;
$studios_dark: #592DEA;
$studios_black: #14001D;

$patriots: #0000FF;
$patriots_light: #0066ff;
$patriots_dark: #0000b2;
$patriots_black: #000033;

$inventive: #1FB6FF;
$inventive_light: #85D7FF;
$inventive_dark: #009EEB;
$inventive_black: #00151A;

$cares: #13CE66;
$cares_light: #29EB7F;
$cares_dark: #0F9F4F;
$cares_black: #002A02;

$staffing: #FFC82C;
$staffing_light: #FFD55F;
$staffing_dark: #F8B700;
$staffing_black: #1A1A00;

$academy: #FE8A00;
$academy_light: #FFA827;
$academy_dark: #DB7000;
$academy_black: #331C00;

$ventures: #FE0500;
$ventures_light: #FF6E6B;
$ventures_dark: #D40000;
$ventures_black: #330100;
