.Homepage-Heading{
    min-height:450px;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    
    p, h1, h2, h3, h4 {
        color:white;
        text-align:left;
        padding:0px 50px;
        max-width:70vw;
    }

    h1{
        text-transform:uppercase;
        font-size:38px;
    }

    .cta_btn_cont{
        margin:20px 40px;
    }

    .content{
        margin:150px 50px 0px 0px;
    }
}


.parallax-blade{
    display:flex;
    color:white;
    position:relative;
    padding:0px 0px;

    .content-container{
        width:100vw;
        padding:0px;
        
        p {
            max-width:500px;
            text-align:center;
            margin:0px auto;

         }
    }

    .bubble{
        box-shadow:0 8px 17px 0 rgba(0,0,0,0.14), 0 6px 20px 0 rgba(0,0,0,0.133);
        border-radius: 100%;
        position:absolute;
        background:#fff no-repeat center center;
        z-index:930;
    
        img{
            border-radius: 50%;
        }

    
        &.sizeFour{
            display:flex;
            align-items:center;
            justify-content: center;
            padding:20px;


            img{
                height:77px;
                width:77px;
            }
        }
        
        &.sizeTwo{
            padding:20px;
            display:flex;
            align-items:center;
            justify-content: center;

            img{
                height:100px;
                width:100px;
            }
        }
        
        &.sizeOne{
            padding:30px;
            display:flex;
            align-items:center;
            justify-content: center;


            img{
                height:120px;
                width:120px;    
            }
        }
    
        &.sizeThree{
            display:flex;
            align-items:center;
            justify-content: center;
            padding:10px;

            img{
                height:43px;
                width:43px;
            }
        }
    
    
        &.one{ // Top Left Big Bubble
            top:-100px;
            left: calc(53% - 28.88889vw);
    
        }

        &.two{ // Bottom right big Bubble
            top:760px;
            right:350px;
    
        }

        &.three{ // Top Left Small Bubble
            top:-50px;
            left:570px;
        }


        &.four{ // Bottom Right Small Bubble
            top:700px;
            right:170px;
        }


        &.five{ // Middle Left medium Bubble
            top:100px;
            left:180px;
        }

        &.six{ // Bottom Middle Medium Bubble
            top:420px;
            right:280px;
        }

        &.seven{ // Middle Bottom Small Bubble
            top:0px;
            left:100px;
        }

        &.eight{ // Bottom Left Small Bubble
            top:0px;
            right:100px;
        }

        // &.nine{ // Bottom Middle SM/MD Bubble
        //     top:300px;
        //     left:-100px;
        // }

        // &.ten{ // Left Middle Medium bubble
        //     top:100px;
        //     left:-300px;
        // }

        // &.eleven{
        //     top:450px;
        //     left:80px;
        // }

        // &.twelve{
        //     top:-180px;
        //     left:260px;
        // }

        // &.thirteen{
        //     top:100px;
        //     left:-200px;
        // }
    }
    
}