.Homepage-Heading{
    min-height:450px;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    
    p, h1, h2, h3, h4 {
        text-align:left;
        padding:0px 50px;
        max-width:70vw;
    }

    h1{
        text-transform:uppercase;
        font-size:38px;
    }

    .cta_btn_cont{
        margin:20px 40px;
    }

    .content{
        margin:150px 50px 0px 0px;
        
        
        &.white{
            color:white;
        }
        
        &.black{
            color:$black;
        }
        
        &.smoke{
            color:$smoke;
        }
    }
}


.parallax-blade{
    display:flex;
    color:white;
    position:relative;
    padding:0px 0px;
    min-height:700px;

    .content-container{
        width:100vw;
        padding:0px;
        
        p {
            max-width:500px;
            text-align:center;
            margin:0px auto;

         }

        .big-content{
            color:black;
            font-size:28px;
            text-align:left;
            
        }

        .parallax-content-container{
            height:80%;
        }
    }

    .bubble{
        box-shadow:0 8px 17px 0 rgba(0,0,0,0.14), 0 6px 20px 0 rgba(0,0,0,0.133);
        border-radius: 100%;
        position:absolute;
        background:#fff no-repeat center center;
        z-index:930;
    
        img{
            border-radius: 50%;
        }

    
        &.sizeFour{
            display:flex;
            align-items:center;
            justify-content: center;
            padding:20px;
            max-height:77px;
            max-width:77px;

            svg{
                font-size:35px;
            }

            img{
                height:77px;
                width:77px;
            }
        }
        
        &.sizeTwo{
            padding:20px;
            display:flex;
            align-items:center;
            justify-content: center;
            max-height:100px;
            max-width:100px;

            svg{
                font-size:45px;
            }

            img{
                height:100px;
                width:100px;
            }
        }
        
        &.sizeOne{
            padding:30px;
            display:flex;
            align-items:center;
            justify-content: center;
            max-height:120px;
            max-width:120px; 

            svg{
                font-size:50px
            }


            img{
                height:120px;
                width:120px;    
            }
        }
    
        &.sizeThree{
            display:flex;
            align-items:center;
            justify-content: center;
            padding:10px;
            max-height:43px;
            max-width:43px;

            svg{
                font-size:20px
            }

            img{
                height:43px;
                width:43px;
            }
        }
    
    }
    
}