
.blank_post{
  background-color:#f9f9f9;
  border: solid 1px #e9e9e9;
  height:380px;
  width:380px;
  margin: 10px;
  padding:30px;
  border-radius:10px;
}

.blog_home-posts_container{
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  padding:0px 100px;
  
  
  .post_link{
    flex:1 0 auto;
    max-width: 400px;
    
    .short_post{
      border:solid 1px $smoke;
      border-radius:5px;
      background-color:white;
      margin:10px;
      width: 380px;
      
      .post_header_image{
        height:180px;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        
        .linear_gradient_dark_studios{
          display:flex;
          align-items:flex-end;

          padding:15px;
          background-image: linear-gradient(transparent, $studios_black);
          width:100%;
          height:100%;
          border-radius: 5px 5px 0px 0px;
        }

        .author-image{
          width:70px;
          height:70px;
          margin:0px 10px 0px 0px;
          border-radius:50%;
          border:solid 2px white;

          background-position:center;
          background-size:cover;
        }

        .post_author{

          .author_name{
            color:$inventive;
            font-weight:bold;
          }
          .date{
            color:white;
          }
        }
      }
  
      .content{
        padding:20px;
        height:200px;
        text-align:left;
        
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        

        h1, h2, h3 {
          font-weight:bold;
        }

        a{
          color:$inventive;
        }
      }
    
    }
  }


}

.post_link{
  color:black;
}

.post_link{
  flex:1 0 auto;
  min-width:365px;
  max-width: 385px;
  
  .short_post{
    border:solid 1px $smoke;
    border-radius:5px;
    background-color:white;
    margin:10px;
    
    .post_header_image{
      height:170px;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      
      .linear_gradient_dark_studios{
        display:flex;
        align-items:flex-end;
        border-radius: 5px 5px 0px 0px;

        padding:15px;
        background-image: linear-gradient(transparent, $studios_black);
        width:100%;
        height:100%;
      }

      .author-image{
        width:70px;
        height:70px;
        margin:0px 10px 0px 0px;
        border-radius:50%;
        border:solid 2px white;

        background-position:center;
        background-size:cover;
      }

      .post_author{

        .author_name{
          color:$inventive;
          font-weight:bold;
        }
        .date{
          color:white;
        }
      }
    }

    .content{
      padding:20px;
      height:170px;
      text-align:left;
      
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      

      h1, h2, h3 {
        font-weight:bold;
      }

      a{
        color:$inventive;
      }
    }
  
  }
}

.social-content{
  min-width: 385px;
  text-align: center;
  font-size: 24px;
  @media screen and (min-width: 1230px){
    text-align: left;
    max-width: 450px;
  }
}