.cardView{

    .big_title a, h1, h2, h3, h4, h5{
        
        &.uppercase{
            text-transform:uppercase;
        }

        &.white{
            color:white;
        }

        &.position-down{
            z-index:900;
        }

        &

        &.p-lg{
            padding:20px 0px;
            margin:0px;
        }

        &.smoke {
            color:$smoke;
        }

        &.extra_padding{
            padding: 20px 80px;
        }

    }

    &.center{
        text-align:center;
    }
    
    .cards{
        &.row{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-items:center;

            .cardViewCard img{
                max-width:200px;
                max-height:200px;

                min-width:200px;
                margin:80px 20px;
            }
        }
    }
}