.cardView{

    .big_title a, h1, h2, h3, h4, h5{
        color:white;
        text-transform:uppercase;
    }

    &.center{
        text-align:center;
    }
    
    .cards{
        &.row{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-items:center;

            .card img{
                max-width:300px;
                max-height:200px;

                min-width:200px;
                margin:80px 20px;
            }
        }
    }
}