.carousel-container{
    padding:50px;
    height:auto;
    padding-top:100px;
    
    &.blue{
        background-color:$inventive;
        
        .carousel-header{
            color:white;
        }
    }

    &.yellow{
        background-color:$staffing;
        
        .carousel-header{
            color:white;
        }
    }

    &.green{
        background-color:$cares;
        
        .carousel-header{
            color:white;
        }
    }

    &.grey{
        background-color:$primary_grey;
        
        .carousel-header{
            color:white;
        }
    }


    .carousel-header{
        font-size:40px;
    }

    .Carousel {
        max-width:85vw;
        margin:0px auto;
        overflow:none !important;
    
        .carousel_image {
            height:200px;
        }

        .staff_item{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;

            .image{
                min-width:250px;
                height:250px;
                border-radius:5px;
            }

            .content{
                max-width:50vw;
                padding:0px 30px;
            }

            .seperator{
                max-width:180px;
                margin:20px 0px;
                border:solid 3px $cares;
            }
        }
    
        .carousel_item{
            margin:0px auto;
            width:70vw;
            min-height:600px;
            z-index:1;
            

            .carousel_bg_img{
                position:relative;
                top:70px;
                left:0px;

                background-position:center;
                background-size:cover;
                background-repeat:no-repeat;
                border-radius:15px;

                width:100%;
                height:500px;
                padding:20px;


                .carousel_content{
                    max-width:500px;
                    border-radius: 15px;
                    padding: 30px 20px;
                    color: white;
                    position: absolute;
                    z-index: 99;

                    .carousel-header{
                        font-size:30px;
                    }
                }
            }
        }
    }
}