.cta_one{
    padding:0px 50px;
        
    .main{
        flex:2;
    }

    a{
        color:black;
    }

    .img_cont{
        flex:3;

        .image{
            width:700px;
            height:500px;

            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
            box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
        }
    }
}