.map-image{
    display:flex;
    flex-direction:column;
    align-items:space-between;
    justify-content:space-between;

    .bottom-divider{
        align-self:flex-end;
    }
    
    .top-divider{
        align-self:flex-start;
    }   
    
}