.sidebar{
    background-color:$smoke;
    color:$slate;
    padding:50px;
    min-width:300px;

    h3 {
        font-weight:bold;
        text-transform: uppercase;
        font-size:18px;
    }

    .recent-posts{
        margin:0px 0px 25px 0px;

        .post-title-link{
            font-size:14px;
            text-transform:normal !important;
            color:black;
            margin:10px 0px;
            transition: all, 0.3s;
            line-height:20px;
    
            &:hover{
                color:$studios;
            }
        }
    }

    .categories {


        .category-link{
            font-size:14px;
            text-transform:normal !important;
            color:black;
            margin:10px 0px;
            transition: all, 0.3s;
            line-height:20px;
    
            &:hover{
                color:$studios;
            }
        }
    }
}