.sidebar{
    color:$slate;
    padding:50px;
    min-width:250px;
    
    display:Flex;
    flex-direction:column;
    align-items:center;

    h3 {
        font-weight:bold;
        text-transform: uppercase;
        font-size:18px;
    }

    .recent-posts{
        margin:0px 0px 25px 0px;
        width: 80%;

        .post-title-link{
            font-size:14px;
            text-transform:normal !important;
            color:black;
            margin:10px 0px;
            transition: all, 0.3s;
            line-height:20px;
    
            &:hover{
                color:$studios;
            }
        }
    }

    .banner{
        background-color:$smoke;
        
        border-radius: 10px;
        padding:20px;
        margin:10px 0px;
        max-width:220px;

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        p, span{
            padding:15px 0px;
        }

    }

    .categories {
        width: 80%;

        .category-link{
            font-size:14px;
            text-transform:normal !important;
            color:black;
            margin:10px 0px;
            transition: all, 0.3s;
            line-height:20px;
    
            &:hover{
                color:$studios;
            }
        }
    }
}