.text-col{
    padding:50px;

    h2, h3, h4, h5, h6{
        text-align:center;
        color:$studios;
        padding-bottom:20px;
    }

    .columns{
        display:flex;
        justify-content: space-around;
        align-items:center;

        .featured_image{
            max-width:250px;
        }
        .text-columns-icon{
            font-size:150px;
            align-self: center;
        }
        .text-columns-text{
            font-size: 22px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}