
.post-header {
  color:white;
  height:60vh;
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  
  p {
    max-width:70vw;
  }
}

.about-the-author-content{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  padding:50px 120px;
}

.about-the-author{
  padding:50px 0px 0px 0px;
  background-color:#f5f5f5;
  position:relative;

    .author-image{
      height:350px;
      width:350px;
      border-radius: 50%;
      box-shadow: 0 2px 50px 0 rgba(90, 90, 140, 0.4); 
      z-index:999;
  
      background-position:center;
      background-size:cover;
    }

    span{
      padding:2vw;
      max-width:700px;
    }
  
    .big-title{
      text-transform:uppercase;
    }
}