* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

body {
  padding: 3rem 0 0 0;
  color: #353535;
  line-height: 1.5;
  font-family: $font-serif;

  @media (max-width: $max-width-sm) {
    padding-top: 1rem;
  }
}


.flex-wrap{
  flex-wrap:wrap;
}