
.cta_btn_cont{
    display:flex;
    width:100%;
    
    &.center{
        justify-content: center;
    }

    .primary_cta_btn{
        margin:0px 10px;
        background-color:$cares;
        padding:10px 15px;
        color:white;
        border-radius:10px;
        transition:all, 0.3s;
        font-size:16px;
        font-weight:bold;

        display:flex;
        align-items: center;
        justify-content: center;

    
        &:hover{
            color:white;
            background-color:$cares_light;
        }

        &.banner_button{
            width:100%;
            margin:0px;
            font-size:13px;
            text-transform:uppercase;
            
            display:flex;
            align-items:center;
            justify-content:center;

            img{
                max-width:200px;
            }
        }
    }    
    
    .secondary_cta_btn{
        margin:0px 10px;
        background-color:$dark_smoke;
        color:$black;
        padding:5px 15px;
        border-radius:10px;
        transition:all, 0.3s;
        font-size:16px;
        font-weight:bold;

        display:flex;
        align-items: center;
        justify-content: center;
    
        &:hover{
            color:$black;
            background-color:$smoke;
        }
    }    
   
    .border_cta_btn{
        margin:0px 10px;
        border:solid 2px $smoke;
        color:$studios;
        padding:5px 15px;
        border-radius:10px;
        transition:all, 0.3s;
        font-size:16px;
        font-weight:bold;

        display:flex;
        align-items: center;
        justify-content: center;
    
        &:hover{
            color:$studios;
            background-color:$smoke;
        }
    }    
}
